.app {
  margin: auto;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  padding: 7%;
  text-align: center;
  background: #CCC;
}

.userName {
  padding: 8px;
  float: left;
}

.logout {
  float: right;
}

.jumbo {
  border: 1px solid black;
}
